body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-left: 10px;
}

.logo > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.form-container {
    width: 28%;
    margin: 50px auto;
    box-sizing: border-box;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: -1px 1px 8px 3px rgba(0, 0, 0, 0.09);
}
.form-container .header{
    width: 100%;
    display: flex;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-container > .header > .head{
    width: 50%;
    padding-top: 10px;
    border-radius: inherit;
}



.form-container > .header .head1{
    background-color: rgba(0, 0, 0, 0.09);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.form-container > .header .head2{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form-container > .header > .head > p{
    text-align: center;
    font-size: small;
}
.form-container form {
    align-items: center;
    margin-top: 50px;
}
.form-container form input {
    display: block;
    width: 80%;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px  auto;
}



@media only screen and (max-width: 1000px) {
    .form-container {
        width: 50%;
        margin-top: 100px;
    }
}


@media only screen and (max-width: 420px) {
    .form-container {
        width: 80%;
        margin-top: 100px;
    }
}

.form-container form label{
    margin-left: 40px;
}
.form-container > form > button {
    background-color: green;
    display: grid;
    margin: 30px auto;
    color: white;
    width: 100px;
    height: 40px;
    align-items: center;
    border: none;
    border-radius: 8px;
}



.form-container > form > button:hover{
    opacity: 90%;   
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: larger;
}
.form-container form input:focus{
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(53, 238, 16, 0.6);
outline: 0 none;
}

.form-container > #sign-in-form{
display: none;
}
